:root {
    --color-text: #fbfbfb;
    --border-text: #fbfbfb;
    --color-text-btn: #fbfbfb;
    --border-btn: #fbfbfb;
    --bs-border-radius: #f000ff;

}


body {

    background-size: cover;
    background-color: #141414;
    color: var(--color-text);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

.mb-3 {

    text-align: center;
}

.col-auto {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.btn-primary {
    --bs-btn-bg: #1e1f20;
    --bs-btn-border-color: #fbfbfb;
    --bs-btn-hover-bg: #1e1f20;
    --bs-btn-hover-border-color: #1e1f20;
    --bs-btn-active-border-color: #fbfbfb;
    --bs-btn-active-bg: #f000ff;
    --bs-btn-disabled-bg: #f000ff;
    --bs-btn-disabled-border-color: #f000ff;
}

.ski {
    text-orientation: mixed;
}

#header {
    color: #fbfbfb;
    flex: auto;
    text-align: center;
}

h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: transparent;
    font-size: 75px;
    text-transform: uppercase;
    -webkit-text-stroke: 3px #fbfbfb;
    ;
}

h3 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fbfbfb;
    text-align: center;

}

p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fbfbfb;
    text-align: left;
    position: relative;
    right: 0px;

}

.text {
    display: inline-block;
    padding: 5px;
    border: 1px solid #fbfbfb;
    border-radius: 15px;
}

#btn-menu {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: none;
    z-index: 1000;


}

.nav-link {
    display: block;
    color: var(--color-text-btn)
}

.nav {
    display: flex;
    transition-duration: 0.4s;
    --bs-nav-pills-link-active-bg: #1e1f20;
    --bs-nav-link-hover-color: #fbfbfb;
    --bs-nav-link-color: #fbfbfb;
}


#menu1 {
    font-family: sans-serif;
    color: var(--color-text);
}

.img {
    /* imagine responsive  */
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;


    border-radius: 25px;
    border: 1px solid #F9F9F9;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    box-shadow: 0px 4px 7px 7px rgba(0, 0, 0, 0.25);
}

.rectangle {
            
    background: #FFE700;
    border-radius: 25px;    
    padding-top: 10px;
    padding-left: 9px;
    padding-right: 8px;
    padding-bottom: 7px;                

}


.col-lg-6 {

    flex: 0 0 auto;
    width: 100%;
}

.col-xxl-12 {
    flex: 0 0 auto;
    width: 100%;
}

input[type=email],
textarea {
    border: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

input:focus,
textarea:focus,
select:focus,
a:focus {
    outline: none !important;
}