:root {
    --color-text: #fbfbfb;
    --border-text: #fbfbfb;
    --color-text-btn: #fbfbfb;
    --border-btn: #fbfbfb;
    --bs-border-radius: #f000ff;

}


body {

    background-image: url(banner1.svg);
    background-size: cover;
    background-color: #141414;
    color: var(--color-text);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

.mb-3 {

    text-align: center;
}

.col-auto {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.btn-primary {
    --bs-btn-bg: #1e1f20;
    --bs-btn-border-color: #fbfbfb;
    --bs-btn-hover-bg: #1e1f20;
    --bs-btn-hover-border-color: #1e1f20;
    --bs-btn-active-border-color: #fbfbfb;
    --bs-btn-active-bg: #f000ff;
    --bs-btn-disabled-bg: #f000ff;
    --bs-btn-disabled-border-color: #f000ff;
}

.text {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 205px;
    text-align: center;
    color: #ffe700;
}

#header {
    font-size: 500px;
    color: #ffe700;
    flex: auto;
    text-align: center;
    margin-top: 85px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#btn-menu {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: none;


}

.nav-link {
    display: block;
    color: var(--color-text-btn)
}

.nav {
    display: flex;
    transition-duration: 0.4s;
    --bs-nav-pills-link-active-bg: #1e1f20;
    --bs-nav-link-hover-color: #f000ff;
    --bs-nav-link-color: #f000ff;
}





#menu1 {
    font-family: sans-serif;
    color: var(--color-text);
}

.img {
    border-radius: 50%;


}

.bio {
    width: 11em;
    border: 1px solid #000000;
    word-wrap: break-word;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 7%;

}

.col-lg-6 {

    flex: 0 0 auto;
    width: 100%;
}

.col-xxl-12 {
    flex: 0 0 auto;
    width: 100%;
}

input[type=email],
textarea {
    border: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

input:focus,
textarea:focus,
select:focus,
a:focus {
    outline: none !important;
}