:root {
    --color-text: #fbfbfb;
    --border-text: #fbfbfb;
    --color-text-btn: #fbfbfb;
    --border-btn: #fbfbfb;


}

.btn-primary {
    --bs-btn-color: #181818;
    --bs-btn-bg: #fbfbfb;
    --bs-btn-border-color: #fbfbfb;
    --bs-btn-hover-color: #181818;
    --bs-btn-hover-bg: #0ce349;
    --bs-btn-hover-border-color: #181818;
    --bs-btn-active-color: #181818;
    --bs-btn-active-bg: #fbfbfb;
    --bs-btn-active-border-color: #fbfbfb;
    --bs-btn-disabled-color: #181818;
}

body {

    background-image: url(banner1.svg);
    background-color: #141414;
    color: var(--color-text);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

#header {
    text-align: center;
}



.icons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    text-align: center;
    margin-bottom: 105px;
}

.research {
    width: 95px;
    height: 91px;
    flex-shrink: 0;
    color: var(--color-text);
}

.concept {
    width: 95px;
    height: 119px;
    color: var(--color-text);
}

.refining {
    width: 95px;
    height: 81.57px;
    flex-shrink: 0;
    color: var(--color-text);
}

.revisions {
    width: 95px;
    height: 87.617px;
    flex-shrink: 0;
    color: var(--color-text);
}

.hurray {
    width: 95px;
    height: 119px;
    color: var(--color-text);
}

.text {
    margin-top: 205px;
    text-align: center;
    font-family: sans-serif;
}

#menu1 {
    font-family: sans-serif;
    color: var(--color-text);
}

.img {
    border-radius: 50%;
}

.bio {
    text-align: center;
    font-family: sans-serif;
    margin-top: 5%;
    border: 1px solid var(--border-text);
    border-radius: 10px;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 250px;

}

.mb-3 {
    margin: 550px 0px;
    padding: 0px;
    text-align: center;
    margin-top: 4%;
}


.btn:hover {
    color: var(--bs-btn-hover-color);
    background-color: var(--bs-btn-hover-bg);
    border-color: var(--bs-btn-hover-border-color);
}

.btn {
    display: flex;
    align-items: center;
    --bs-btn-font-family:sans-serif ;
    --bs-btn-font-size: 1rem;
    --bs-btn-disabled-opacity: 0.65;
    font-family: var(--bs-btn-font-family);
    font-size: var(--bs-btn-font-size);
    text-decoration: none;
    vertical-align: middle;
    user-select: none;
    border: var(--bs-btn-border-color);
    border-radius: var(--bs-btn-border-radius);
    background-color: var(--bs-btn-bg);
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

::after,
::before {
    box-sizing: border-box;
}